#food-form-bg {
  background-color: #fff;

  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.info-color-food {
  color: #88d66c;
}
#container-fluid-food-bg {
  background-color: #88d66c;
  color: white;
}
#btn-food-bg {
  background-color: #88d66c;
  font-variant: small-caps;
  font-weight: 500;
  color: white;
}
.food-input {
  font-variant: small-caps;
  font-size: small;
  font-weight: 400;
  padding: 15px;
}
.food-input-select {
  padding: 13px;
}
.food-input:focus {
  box-shadow: none;
  border: 1px solid #88d66c;
}
.food-input-switch:focus {
  box-shadow: none;
  outline: none;
}
.food-input-select:focus {
  box-shadow: none;
  border: 1px solid #88d66c;
}

.food-input-switch {
  background-color: white;
  border: 1px solid #88d66c;
  box-shadow: none;
}

.food-input-switch:checked {
  background-color: #88d66c;
  border-color: #88d66c;
  box-shadow: none;
}

.food-input-switch:active {
  outline: none;
  box-shadow: none;
}

.food-input-switch:hover {
  border-color: #88d66c;
}
