#form-bg {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.info-color {
  color: #4c7196;
}
#container-fluid-bg {
  background-color: #7fa1c3;
  color: white;
}
#btn-bg {
  background-color: #4c7196;
  font-variant: small-caps;
  font-weight: 500;
  border: none;
  color: white;
}
.hotel-input {
  font-variant: small-caps;
  font-size: small;
  font-weight: 400;
  padding: 15px;
}
.hotel-input-select {
  padding: 13px;
}
.hotel-input:focus {
  box-shadow: none;
}
.hotel-input-switch:focus {
  box-shadow: none;
}
.hotel-input-select:focus {
  box-shadow: none;
}
