#Update-bg {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#update-color {
  color: #fabc3f;
}
#heading-bg {
  background-color: #fabc3f;
  color: white;
}
#update-btn-bg {
  background-color: #fabc3f;
  font-variant: small-caps;
  font-weight: 500;
  border: none;
  color: white;
}
.update-input {
  font-variant: small-caps;
  font-size: small;
  font-weight: 400;
  padding: 15px;
}
.update-input-select {
  padding: 13px;
}
.update-input:focus {
  box-shadow: none;
  border: 1px solid #fabc3f;
}
.update-input-select:focus {
  box-shadow: none;
  border: 1px solid #fabc3f;
}

.update-input-switch {
  background-color: white;
  border: 1px solid #fabc3f;
  box-shadow: none;
}

.update-input-switch:checked {
  background-color: #fabc3f;
  border-color: #fabc3f;
  box-shadow: none;
}

.update-input-switch:focus {
  outline: none;
  box-shadow: none;
}

.update-input-switch:active {
  outline: none;
  box-shadow: none;
}

.update-input-switch:hover {
  border-color: #fabc3f;
}
