@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap");

@media All and (max-width: 576px) {
  #NavDesktop {
    display: none;
  }
}
@media All and (min-width: 576px) {
  #NavMobile {
    display: none;
  }
}

/* NavbarDesktop */

#navBg-desk {
  background-color: #ff8225;
  font-variant: small-caps;
}
#Brand_Desktop {
  color: white;
  font-variant: all-small-caps;
}
.font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.header-font {
  font-family: "Concert One", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* NavbarMobile */

#navBg-mobile {
  background-color: #ff8225;
  font-variant: small-caps;
}
#toggle-btn {
  background-color: white;
  border: none;
}
.txt-color {
  color: white;
}

/* media-query for Desktop and tablet! */
@media All and (max-width: 1400px) {
  #Brand_Desktop {
    margin-left: 450px;
  }
}
@media All and (max-width: 1280px) {
  #Brand_Desktop {
    margin-left: 400px;
  }
}
@media All and (max-width: 885px) {
  #Brand_Desktop {
    margin-left: 200px;
  }
}
@media All and (max-width: 835px) {
  #Brand_Desktop {
    margin-left: 150px;
  }
}
@media All and (max-width: 768px) {
  #Brand_Desktop {
    margin-left: 120px;
  }
}

/* media-query for Mobiles! */
@media All and (max-width: 428px) {
  #mobile-header {
    margin-left: -40px;
    font-size: 30px;
  }
}
@media All and (max-width: 360px) {
  #mobile-header {
    margin-left: -40px;
  }
}
@media All and (max-width: 320px) {
  #mobile-header {
    margin-left: -30px;
    font-size: 25px;
  }
}
